{% extends 'basic.html' %}
{% block title %}About-Us | About Ghazala Matin{% endblock %}


{% block body %}

<div id="block-advices-content">
<article data-history-node-id="17" role="article" about="/about-us" typeof="schema:WebPage" class="article">
<span property="schema:name" content="About Us" class="rdf-meta hidden"></span>
<div>
</div>
</article>
</div>
<div id="block-abouttoparea">

<section class="about-top-area">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="img-holder">
<img src="static/product_img/gh.jpg" alt="Awesome Image">
</div>
</div>
<div class="col-md-4">
<div class="text-holder">
<h3>About Us </h3>
<p>Working as a senior consultant dietician in health point hospital Ranchi since 2016, and also as a faculty lecturer in Ranchi women's college Clinical Nutrition department, before a health point was in Apollo hospital Ranchi from 2007, got the best performance of the year award from Apollo in 2008, got best employee of the year award from a health point in 2017.</p>
<p>Currently  am president of Indian Dietetic Association Jharkhand chapter.</p>
<div class="bottom">
<h3>Ghazala Matin</h3>
<span>President of IDA</span>
</div>
</div>
</div>
<div class="col-md-4">
<ul class="company-details">
<li>
<div class="icon-holder">
<span class="flaticon-people"></span>
</div>
<div class="text-box">
<h3>Our Mission</h3>
<span>Nation’s Health </span>
<p>To advance the leading role of our members in improving the nation’s health through food and nutrition.</p>
</div>
</li>
<li>
<div class="icon-holder">
<span class="flaticon-arrow"></span>
</div>
<div class="text-box">
<h3>Our Vision</h3>
<span>Good Nutrition</span>
<p>A future in which all people in India enjoy the life-enhancing benefits of good nutrition, in health and disease.
</p>
</div>
</li>
<li>
<div class="icon-holder">
<span class="flaticon-luxury"></span>
</div>
<div class="text-box">
<h3>Our Value</h3>

<p>Our values are fundamental to future success and guide our decisions and actions.
We expect all of our staff and our members to embrace them.</p>
</div>
</li>
</ul>
</div>
</div>
</div>
</section>

</div>


{% endblock %}
